@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root{
  --logo-spacing: .3em;
}

.main-logo{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: white;

  text-align: center;
  align-items: center;
  justify-content: center;

  margin-bottom: 2em;
}
.main-logo .logo {
  font-size: 4em;
  letter-spacing: var(--logo-spacing);
  line-height: 1;


  margin-right: -.3em;

  display: flex;
  align-items: end;
  justify-content: center;
}

.main-logo .logo img {
  height: .8em;
  margin-bottom: .1em;
  margin-right: var(--logo-spacing);
}

.main-logo .subtext{
  width: 14em;
  margin: 1em auto 0;

  text-align: center;
  font-size: 1.6em;
  line-height: 1.1;
  text-decoration: uppercase;
  font-weight: bold;
}

.main-logo .subtext  b{
  background: linear-gradient(90deg, #39b3f6 0%, #5bffff 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.main-logo .desc{
  width: 44em;
  margin-top: .7em;
  color: #a59ea6;
  font-size: .7em;
}
.main-logo .desc span{
  border: .1em solid #537678;
  background-color: #26494d;
  color: #7effed;
  padding: .2em .8em;
  border-radius: .6em;

}
