@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.main-logo{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: white;

  text-align: center;
  align-items: center;
  justify-content: center;

  margin-bottom: 2rem;
}
.main-logo .logo {
  letter-spacing: 1rem;
  font-size: 4.1rem;
  line-height: 1;

  display: flex;
  align-items: end;
  justify-content: center;
  margin-right: -1rem;
}
.main-logo .logo img {
  height: 3.4rem;
  margin-bottom: 0.4rem;
  margin-right: 1rem;
}

.main-logo .subtext{
  width: 22rem;
  margin: 1.5rem auto 0;

  text-align: center;
  font-size: 1.6rem;
  line-height: 1.1;
  text-decoration: uppercase;
  font-weight: bold;
}
.main-logo .subtext  b{
  background: linear-gradient(90deg, #39b3f6 0%, #5bffff 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.main-logo .desc{
  max-width: 32rem;
  margin-top: .7rem;
  color: #a59ea6;
  font-size: .7rem;
}
.main-logo .desc span{
  border: .1rem solid #537678;
  background-color: #26494d;
  color: #7effed;
  padding: .2rem .8rem;
  border-radius: .6rem;

}
